{% extends 'base.html.twig' %}

{% block body %}
  <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font:
    18px/1.5 sans-serif; }

    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
  </style>

  <div class="example-wrapper">
            <h3 class="text-center allTimeTitle d-none ">All performances</h3>
            <h3 class="text-center nearbyFutureTitle d-none d-block">This weeks performances</h3>
            <h3 class="text-center historyTitle d-none">Previous performances</h3>
            <div class="d-flex justify-content-center">
                <button class="btn btn-secondary mr-2" onclick=nearbyFuture()>This week performances</button>
                <button class="btn btn-secondary mr-2" onclick=history()>Previous performances</button>
                <button class="btn btn-secondary" onclick=allTime()>All performances</button>
            </div>

            {% for performance in performancesNearbyFuture %}
                <div class="mt-5 border w-50 ml-auto mr-auto nearbyFuture d-none d-block">
                    <h5 class="d-flex justify-content-center">{{ performance.artist }}</h5>
                    <h5 class="d-flex justify-content-center">{{ performance.date }}</h5>
                    <h5 class="d-flex justify-content-center">{{ performance.price }}</h5>
                </div>
            {% endfor %}

            {% for performance in performancesHistory %}
                <div class="mt-5 border w-50 ml-auto mr-auto history d-none">
                    <h5 class="d-flex justify-content-center">{{ performance.artist }}</h5>
                    <h5 class="d-flex justify-content-center">{{ performance.date }}</h5>
                    <h5 class="d-flex justify-content-center">{{ performance.price }}</h5>
                </div>
            {% endfor %}

            <div class=" allTime d-none">
            {% for performance in performances %}
                <div class="mt-5 border w-50 ml-auto mr-auto">
                    <h5 class="d-flex justify-content-center">{{ performance.artist }}</h5>
                    <h5 class="d-flex justify-content-center">{{ performance.date }}</h5>
                    <h5 class="d-flex justify-content-center">{{ performance.price }}</h5>
                </div>
            {% endfor %}
            </div>
  </div>
{% endblock %}
